<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8"/>
  <meta name="google-site-verification" content="DlD3uB1OpBqyxkljyhDN2gEXDPbkY01Q1Asne0mnByE"/>
  <meta name="baidu-site-verification" content="lZK4Fz9goD" />
  <%
  var title = page.title;
  if (is_archive()) {
    title = __('archive_a');
    if (is_month()) {
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()) {
      title += ': ' + page.year;
    }
  } else if (is_category()) {
    title = __('category') + ': ' + page.category;
  } else if (is_tag()) {
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <%
  var description = config.description;
  if (is_post()) {
    description = strip_html(page.content).substr(0, 250);
  }
  %>

  <title>
    <% if( title ) { %>
    <%= title %> |
    <% } %>
    <%= config.title %></title>
  <meta name="author" content="<%= config.author %>"/>
  <meta name="version" content="1.0.0"/>
  <meta name="keywords" content="<%= config.keywords %>"/>
  <meta name="description" content="<%= description %>"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
  <meta name="baidu-site-verification" content="F0CXvmUgA9"/>

  <% if( theme.rss ) { %>
  <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if( theme.favicon ) { %>
  <link rel="icon" href="<%- theme.favicon %>">
  <% } %>

  <%- css('css/style') %>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>

<div class="app">
  <%- partial('_partial/header') %>
  <div id="content" class="content"><%- body %></div>
  <%- partial('_partial/footer') %>
</div>
<div id="tip" style="left: 50%;
    top: 200px;
    transform: translateX(-50%);
    position:fixed;
    z-index:10;
    height: 100px;
    width: 200px;
    background: rgba(0,0,0,0.8);
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 100px;
    display: none;
    font-size: 30px">
  更新完成
</div>

<% if( is_post() ) { %>
<script type="text/javascript" src="/js/scrollspy.min.js"></script>
<% } %>
<script src="/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
  $(function () {
    var nodes = {
      nav: $('#nav'),
      aside: $('#aside'),
      navTags: $('#nav-tags')
    };

    $('#open-panel, #aside-mask').on('click', function () {
      nodes.aside.toggleClass('panel-show');
    });
    $('#nav-tag').on('click', function (event) {
      event.preventDefault();
      console.log(nodes.navTags.attr('class'))
      nodes.navTags.toggleClass('tag-show');
      console.log(nodes.navTags.attr('class'))
    })

    <% if (is_post()) { %>
    $(document.body).scrollspy({target: '#aside-inner'});
    <% } %>

    //当前页面打点
    $.get("http://data.simamedia.cn/index.php?g=Restful&m=Blog&a=hit&pid=0&url=" + encodeURIComponent(location.pathname),
      function (data) {
        $("#seeNum").text(data.n)
      })
    $("#updateBlog").on("click", function (e) {
      let url = "http://data.simamedia.cn:10000/refresh?shareKey=bf425fe49ab4933f78173872d6b8a3fd"
      $.get(url,
        function (data) {
          $("#tip").fadeIn()
          setTimeout(function () {
            $("#tip").fadeOut()
          }, 3000)
        })
    })
    $.get("http://data.simamedia.cn/index.php?g=Restful&m=Oauth&a=wechatJs&url=" + window.location.href, function (data) {
      $.get("http://data.simamedia.cn/index.php?g=Restful&m=Oauth&a=wechatJs&url=" + window.location.href, function (data) {
        wx.config(
          data.sp
        );
        wx.ready(function () {
          wx.onMenuShareTimeline({
            title: window.document.title, // 分享标题
            link: window.location.href, // 分享链接
            imgUrl: 'http://yondu.vip/images/actor.jpg', // 分享图标
            success: function () {
            },
            cancel: function () {
            }
          });
          wx.onMenuShareAppMessage({
            title: window.document.title, // 分享标题
            desc: '欢迎访问我的blog，一起做一个终身学习者。', // 分享描述
            link: window.location.href, // 分享链接
            imgUrl: 'http://yondu.vip/images/actor.jpg', // 分享图标
            type: 'link', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
            },
            cancel: function () {
            }
          });
        });
      })
    })
    //百度自动推送爬虫
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
  });

</script>

</body>
</html>
