<article class="article" itemscope itemprop="blogPost">
    <% if( post.title ) { %>
    <header class="article-header-desc">
        <% if( view ) { %>
        <h1 itemprop="name">
            <%= post.title %>
        </h1>
        <% } else { %>
        <h1 itemprop="name">
            <a href="<%- url_for(post.path) %>"><%= post.title %></a>
        </h1>
        <% } %>
        <div class="article-meta clearfix">
            <%- partial('post/date', {icon: true, date_format: null}) %>
            <%- partial('post/tags') %>
            <%- partial('post/count') %>
        </div>
    </header>
    <% } %>
</article>
